<div class="my-3">
    <h2>Take, TakeLast and TakeUntill</h2>
    <br>
    <hr>
    <p class="bg-light d-inline-block py-2 px-3">Random Names: "Kiran", "Kumar", "Sabne", "Anup", "Jhon","Alex", "robert"</p>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex-01 | Take(5)</strong>
            <hr>
            <ul id="container1"> </ul>
        </div>

        <div class="col-md-4">
            <strong>Ex-02 | TakeLast(5)</strong>
            <hr>
            <ul id="container2"></ul>
        </div>

        <div class="col-md-4">
            <strong>Ex-03 | TakeUntill(condition)</strong>
            <hr>
            <ul id="container3"></ul>
        </div>
    </div>
</div>