.tbody, td, tfoot, th, thead, tr{
    padding: 5px;
    border: 1px solrd black;
}
tbody, td, tfoot, th, thead, tr {
    border-color: none !important; 
    border-style: solid;
    border-width: none !important; 
}